html {
	font-size: 62.5%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

/********************************header********************************/
header {
	width: 100%;
	background-color: #fff;
}
/*********登录、注册**********/
.header_top {
	overflow: hidden;
}

.header_top_box {
	float: right;
	margin: .5rem;
}

.login {
	font-size: 2rem;
	border-right: 2px solid #29b078;
	padding-right: 3px;
	color: black;
}

.login:hover {
	text-decoration: none;
}

.registered {
	font-size: 2rem;
	color: black;
}

.registered:hover {
	text-decoration: none;
}




/*********技能树、导航菜单**********/
.header_down {
	width: 100%;
	height: 4rem;
	background-color: #29b078;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/***技能树***/
.jinengshu {
	margin-left: 4rem;
	width: 6rem;
	height: 3rem;
	display: inline-block;
	background: url(../images/task9/jinengshu.png) no-repeat 50% 50%/100% 100%;

}
/***导航菜单***/
@media screen and (max-width: 1079px) {
	.menu_box2 {
		display: none;
	}
	/*按钮*/
	.header_button {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 2rem;
		border: none;
		background: transparent;
		outline: none;
		background-color: #47d197;
		border-radius: 5px;
	}

	.label {
		margin: 0;
	}
	/*按钮三横杠*/
	.button_line {
		display: block;
		width: 60%;
		border: 1px solid #666;
		background-color: #666;
		margin: 4px 20%;
	}

	/*点击按钮后出现的菜单*/
	.drop_down_menu {
		width: 100%;
		height: auto;
		background-color: #29b078;
	}

	.drop_down_menu_ul {
		flex-direction:column;/*一格一排排列，自上而下*/
		list-style: none;
		margin: 0;
		background-color: #29b078;
	}

	.drop_down_menu_ul li {
		width: 100%;
		text-align: center;
		padding: 1rem 0;
	}

	.drop_down_menu_text {
		color: #fff;
		font-size: 1.5rem;
		text-decoration: none;
	}

	.drop_down_menu ul li:hover {
		background-color: #36c388;
		border-radius: 3px;
	}

	.drop_down_menu_text:hover {
		text-decoration: none;
	}

	.header_button:hover {
		background-color: #378b68;
	}
}

@media screen and (min-width: 1079px) {
	.menu_box1 {
		display: none;
	}
	
	.menu {
	height: 80px;
	width: 30%;
	display:flex;
	flex-direction:row;
	float: right;
	margin-right: 10%;
	}

	.menu a {
		display: inline-block;
		line-height: 80px;
		text-align: center;
		border: none;
		flex: 1;
		color: #fff;
		text-decoration: none;
	}

	.menu a:hover {
		border-bottom: 4px solid #fff;
		text-decoration: none;
	}
}

/********************************main********************************/
main {
	width: 100%;
	background-color: #fafafa;
}

/*********快人一步**********/
.main_top_img {
	display: inline-block;
	width: 100vw;
	height: 13vw;
	background: url(../images/task9/companion/main_top_img.png) no-repeat 0 0/100% 100%;
}

/*********导航**********/
.index_text {
	font-size: 1rem;
	color: black;
	text-decoration: none;
}
.index_text:hover {
	text-decoration: none;
}

.companion_text {
	font-size: 1rem;
	color: #29b078;
	text-decoration: none;
}
.companion_text:hover {
	text-decoration: none;
}

.daohang_text {
	margin: 2rem 0;
}

/*********合作企业**********/
.main_left {
	border: 1px solid #e1e1e1;
	background-color: #fff;
	margin-top: 10px;
}

.main_left_top {
	padding: .5rem 0;
	width: auto;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}

.main_left_box {
	padding: 1.5rem 0;
/*	display: flex;
	justify-content: center;*/
	/*align-items: center;*/

margin-left: 40%;
}

.main_left_box a {
	color: #29b078;
}


.circle {
  width: 1rem;  
  height:1rem;  
  border-radius: 50%;  
  border: .2rem solid #ff640c;
  display: inline-block;
  box-sizing: border-box;
  margin-right: .5rem;
}

.main_left_box a:hover {
	color: #ff650e;
	text-decoration: none;
}

.main_left_box:hover .circle{
    background-color: #f9a372;
}

.main_right {
	background-color: #fff;
	margin-top: 10px;
}

.main_right_line {
	border-top: 1px solid #f0f0f0;
}

.main_right_box {
	padding: 20px 0;
}

.main_right_box img {
	float: left;
}

.main_right_text {
	padding: 0 20px;
	color: #999;
}

/********************************footer********************************/
footer {
    width: 100%;
    background-color: #29b078;
}
/***每个盒子***/
.footer-details {
    padding: 30px;
    color: #fff;
}
/***标题***/
.footer-title {
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 3rem;
}
/***超链接***/
footer a {
    color: #fff;
    text-decoration: none;
    margin: 10px 10px 10px 0;
    font-size: 1.5rem;
}
footer a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.our-webs {
    margin-top: 10px;
}
/***最下方***/
.copyright {
    width: 100%;
    background-color: #29b078;
    border-top: 1px solid #32c086;
}
.copyright-details {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px 0;
}