.main_right {
	margin-top: 10px;
	background-color: #fff;
}

.main_right_line {
	border-top: 1px solid #f0f0f0;
}

.main_right_box {
	padding: 20px 0;
}

.main_right_box img {
	float: left;
}

.main_right_text {
	padding: 0 20px;
	color: #999;
}