body {
	background-color: #eff0f4;
}

/*************************top*************************/
header {
	background-color: #5fc0cd;
	width: 100%;
	position: fixed;
}

.close {
	float: left;
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	width: 20%;
}
.login {
	float: left;
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	width: 60%;
}
.enrol {
	float: left;
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	width: 20%;
}

/*************************main*************************/
form {
	position: relative;
	top: 130px;
}

.main-up {
	overflow: hidden;
	background-color: #ffffff;
}

.main-up-iPhone {
	margin-left: 2%;
	float: left;
	width: 10%;
	
}

.main-up-username {
	float: left;
	width: 83%;
	line-height: 100px;
}

.username {
	width: 100%;
	height: 60px;
	font-size: 30px;
	border-left: 1px solid gray;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	padding-left: 5%;
	outline:none;/*点击文本框不出现边框*/
}

.main-down {
	clear: both;
	margin-top: 20px;
	overflow: hidden;
	background-color: #ffffff;
}


.main-down-locked {
	margin-left: 2%;
	float: left;
	width: 10%;
	
}

.main-down-password {
	float: left;
	width: 83%;
	line-height: 100px;
}

.password {
	width: 100%;
	height: 60px;
	font-size: 30px;
	font-size: 30px;
	border-left: 1px solid gray;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	padding-left: 5%;
	outline:none;
}

/*************************footer*************************/
.footer {
	margin-top: 30px;
}

.footer-login {	
	width: 100%;
	height: 100px;
}

.go {
	background: #5fc0cd;/*设置登录按钮颜色为蓝色*/
	width: 100%;
	height: 100%;
	font-size: 40px;
	color: #ffffff;
	border: 0px;
	border-radius: 15px;
}

.footer-forget {
	font-size: 30px;
	float: right;
	margin: 30px;
	color: #5fc0cd;
}

.aa {
	height: 100000px;
}