@charset "utf-8";

/*********合作企业**********/
.main_left {
	float: left;
	margin-top: 10px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
}

.main_left_top {
	width: auto;
	padding: .5rem 0;
	border-bottom: 1px solid #e1e1e1;
	text-align: center;
}

.main_left_box {
	margin-left: 40%;
	padding: 1.5rem 0;
}

.main_left_box {
	a {
		color: #29b078;
		text-decoration: none;
	}	
}


.circle {
  display: inline-block;
  width: 1rem;  
  height:1rem;  
  margin-right: .5rem;
  border: .2rem solid #ff640c;
  border-radius: 50%;  
  box-sizing: border-box;
}

.main_left_box a {
	&:hover {
		color: #ff650e;
		text-decoration: none;
	}
}


.main_left_box {
	&:hover .circle{
	    background-color: #f9a372;
	}
}


@media screen and (max-width: 899px) {
	.main_left {
		width: 90%;
		margin: 1rem 5%;
	}	
}

@media screen and (min-width: 899px) {
	.main_left {
		width: 23%;
		margin: 0 2% 0 5%;
	}	
}