@charset "utf-8";
html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eff0f4;
}

/***********************定义变量**************************/
$blue-color: #5fc0cd;/*蓝色背景颜色*/
$box-height: 3rem;/*盒子高度*/
$text-color: white;/*白色字体*/
$text-size: 1.5rem;/*字体大小*/
$lightgrey-color: #eee;/*浅灰色*/


/*************************header*************************/
header {
	background-color: $blue-color;
	width: 100%;
	height: $box-height + 1rem;	
	z-index: 100;	
	display: flex;	
	align-items: center;
	justify-content: space-between;
}

.close {
	text-decoration: none;/*去掉超链接下划线*/
	color: $text-color;
	margin-left: 3%;
	font-size: $text-size;
}
.login {
	color: $text-color;
	font-size: $text-size + .5rem;
}
.enrol {
	text-decoration: none;/*去掉超链接下划线*/
	color: $text-color;
	margin-right: 3%;
	font-size: $text-size;
}

/*************************main*************************/
main {
	width: 100%;
	margin-top: 1rem;
}

.main-up, .main-down {
	width: 100%;
	height: $box-height + 2rem;
	margin: 1rem 0;
	background-color: white;
	display: flex;
	align-items: center;
}

@mixin main-left-img {
	width: 4rem;
	height: $box-height + 2rem;
}

@mixin main-right-input {
	width: 100%;
	height: $box-height - .5rem;
	font-size: $text-size;
	border: {
		left: 1px solid $lightgrey-color;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
	padding-left: 1rem;
	outline: none;
}

.main-up {
	img {
		@include main-left-img;
	}
	input {
		@include main-right-input;
	}
}

.main-down {
	img {
		@include main-left-img;
	}
	input {
		@include main-right-input;
	}
}

input::-webkit-input-placeholder {
	color: $lightgrey-color; /* placeholder颜色  */
}


/*************************footer*************************/
footer {
	margin-top: 3rem;
}

.footer-login {	
	width: 100%;
	height: $box-height + 2rem;
}

.footer-login button {
	background: $blue-color;
	width: 100%;
	height: 100%;
	font-size: $text-size + .5rem;
	color: $text-color;
	border: none;
	outline: none;
}

.footer-forget {
	font-size: $text-size;
	float: right;
	margin: 1rem;
	color: $blue-color;
	text-decoration: none;
}
