@charset "utf-8";
html {
	font-size: 62.5%;
	font-family: "宋体", sans-serif;
} 

/* * 是通配符，此处表示所有的元素的对齐方式以及和父类之间的间距都为0*/
* {
	margin: 0px;
	padding: 0px;
}

/*************************************定义变量*****************************************/
$norm-width: 1rem;
$norm-height: 1rem;
$norm-fontsize: 1rem;
$norm-distance: 1rem;
$white-color: white;
$lightgrey-color: #eee;
$lightblue-color: #5fc0cd;

/**************************************header*****************************************/
header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: $norm-fontsize * 4;
	text-align: center;
	background-color: $lightblue-color;
	white-space: nowrap;/*强制不换行*/
}

.button_left {    
    width: 30%;
    height: $norm-fontsize * 3;    
	margin-top: $norm-distance * 0.5;
    font-size: $norm-fontsize * 2;
	color: $white-color;
	background: #55a8b3;/*左按钮背景色*/
	border: 0px;
    border-radius: 5px 0px 0px 5px;
}

.button_right {
    width: 30%;
    height: $norm-fontsize * 3;
	margin-top: $norm-distance * 0.5;
    margin-left: -$norm-distance;
    font-size: $norm-fontsize * 2;
	color: $lightblue-color;/*右按钮文字颜色，与header背景色一样*/
	border-radius: 5px;
	border-style: none;
	border-color: $lightblue-color;
	background: $white-color;
}

.button_gps {
	position: absolute;
	top: $norm-distance;
	right: $norm-distance;
	width: $norm-width * 1.8;
	height: $norm-fontsize * 2;
	border: none;
	background: url(../../images/task12/task12-6/gpsa.png) no-repeat 0 0/1.8rem 2rem;
}
/**************************************main*****************************************/
main {
	padding-top: $norm-distance * 4;
	padding-bottom: $norm-distance * 8;
	overflow: hidden;
}
/***下拉菜单***/
nav {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: $norm-fontsize * 3;
	font-size: $norm-fontsize * 1.5;
	color: #999;
	background-color: $white-color;
	white-space: nowrap;/*强制不换行*/
}
/***所在地、食宿、病人情况盒子***/
.banner {
	float: left;
	text-align: center;
	width: 33.33%;
	line-height: $norm-fontsize * 3;
	border-bottom: 1px solid $lightgrey-color;
	overflow: hidden;
}
/***中间竖线***/
.ver_line {
	border-left: 1px solid $lightgrey-color;
	border-right: 1px solid $lightgrey-color;
	box-sizing: border-box;/*中间div左右的border设置了宽度，最右边的div会因为空间不够移动到下一排（浮动），这一句代码能解决border宽度带来的div换行的麻烦*/
}
/***向下箭头***/
.arrow {
	position: relative;
	top: $norm-distance;
	margin-left: $norm-distance * 0.5;
	width: 0px;
	height: 0px;
	border: {
		top: 0.6rem solid #999;
		left: 0.3rem solid transparent;
		right: 0.3rem solid transparent;  
	} 
}

a {
	text-decoration: none;/*去超链接下划线*/
}

.banner {
	ul {             
	    max-height: 0px;
	    transition: max-height 0.3s;
	}
	&:hover {
		background-color: $lightgrey-color;
	}
	&:hover {
		ul {
			display: block;
		    text-align: center;
		    max-height: $norm-fontsize * 24;
		    background-color: $lightgrey-color;
		}		
	}
}

.bottom_line {
	li {
		list-style: none;
		border-top: 1px solid $lightgrey-color;
	}
}


/*******************info_box*********************/
.info_box {
	position: relative;
	top: $norm-distance * 3;
	width: 100%;
	height: $norm-fontsize * 8;
	font-size: $norm-fontsize * 1.5;
	border-bottom: 1px solid $lightgrey-color;
}

.box {
	position: relative;
	top: $norm-distance;
	width: 100%;
	height: 25%;
	padding-left: 10%;
	display: flex;
	align-items: center;
}

.time_png {
	background: {
		image: url(../../images/task12/task12-6/time.png);
		repeat: no-repeat;
		position: 2% 50%;
		size: 1.5rem;
	}
}

.gpsb_png {
	background: {
		image: url(../../images/task12/task12-6/gpsb.png);
		repeat: no-repeat;
		position: 2% 50%;
		size: 1.5rem;
	}
}

.time {
	width: 58%;
	font-size: $norm-fontsize * 1.6;
	display:inline-block;
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*//*display:flex;的时候不行，当display:block;的时候就行，说明这行代码需要在一个块状元素里面，并且还要设置宽度，溢出才会有效果*/
	white-space: nowrap;/*强制不换行*/
}

.red_text {
	width: 30%;
	text-align: center;
	font-size: $norm-fontsize * 1.5;
	color: red;
	white-space: nowrap;/*强制不换行*/
}

.toright {
	margin-left: 3%;
	width: $norm-width;
	height: $norm-fontsize; 
}

.gray_text {
	color: #999;
}

/**************************************footer*****************************************/
footer {
	position: fixed;
	bottom: 0px;
	z-index: 100;
	width: 100%;
	height: $norm-fontsize * 4;
	text-align: center;
	background-color: $lightgrey-color;
}

@mixin homeuser {
	background: {
		repeat: no-repeat;
		position: 50% 0;
		size: 2.5rem;
		color: $lightgrey-color;
	}
}

.home {
	width: 20%;
	height: 100%;
	font-size: $norm-fontsize * 1.5;
	color: $lightblue-color;
	border: none;
	background-image: url(../../images/task12/task12-6/home.png);
	@include homeuser;
}

.add {
	width: 20%;
	height: 100%;
	border: none;
	background: {
		image: url(../../images/task12/task12-6/add.png);
		repeat: no-repeat;
		position: 50% 50%;
		size: 3.8rem;
		color: $lightgrey-color;
	}
}

.user {
	width: 20%;
	height: 100%;
	font-size: $norm-fontsize * 1.5;
	color: #999;
	border: none;
	background-image: url(../../images/task12/task12-6/user.png);
	@include homeuser;
}

.footer_text {
	position: absolute;
	bottom: 0;
	width: 20%;
}


