/*********技能树、导航菜单**********/
.header_down {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 6rem;
	background-color: #29b078;
}
/***技能树***/
.jinengshu {
	display: inline-block;
	width: 6rem;
	height: 3rem;
	margin-left: 4rem;
	background: url(../images/task14/jinengshu.png) no-repeat 50% 50%/100% 100%;

}
/***导航菜单***/
@media screen and (max-width: 1079px) {
	.menu_box2 {
		display: none;
	}
	/*按钮*/
	.header_button {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 2rem;
		border: none;
		border-radius: 5px;
		background: transparent;
		background-color: #47d197;
		outline: none;
	}

	.label {
		margin: 0;
	}
	/*按钮三横杠*/
	.button_line {
		display: block;
		width: 60%;
		margin: 4px 20%;
		border: 1px solid #666;
		background-color: #666;
	}

	/*点击按钮后出现的菜单*/
	.drop_down_menu {
		width: 100%;
		height: auto;
		background-color: #29b078;
	}

	.drop_down_menu_ul {
		flex-direction: column;/*一格一排排列，自上而下*/
		list-style: none;
		margin: 0;
		background-color: #29b078;
	}

	.drop_down_menu_ul li {
		width: 100%;
		padding: 1rem 0;
		text-align: center;
	}

	.drop_down_menu_text {
		font-size: 1.5rem;
		color: #fff;
		text-decoration: none;
	}

	.drop_down_menu ul li:hover {
		border-radius: 3px;
		background-color: #36c388;
	}

	.drop_down_menu_text:hover {
		text-decoration: none;
	}

	.header_button:hover {
		background-color: #378b68;
	}
}

@media screen and (min-width: 1079px) {
	.menu_box1 {
		display: none;
	}
	
	.menu {
		display:flex;
		flex-direction:row;
		float: right;
		height: 6rem;
		width: 30%;
		margin-right: 10%;
	}

	.menu a {
		display: inline-block;
		border: none;
		font-size: 1vw;
		color: #fff;
		line-height: 6rem;
		text-align: center;
		text-decoration: none;
		flex: 1;
	}

	.menu a:hover {
		border-bottom: 4px solid #fff;
		text-decoration: none;
	}
}