/************优秀学员展示一栏************/
.main3-box {
	width: 100%;
	margin-top: 1rem;
	text-align: center;
	background-color: #fff;
}

.main3-box img {
	width: 5.5rem;
	height: 5.5rem;
	padding: 1rem;
}

.main3-box h4 {
	font-size: 1.8rem;
}

.main3-box p {
	padding: 0 2rem 1rem 2rem;
	font-size: 1.6rem;
}


/*150%一下，页面较大时直接一排*/
@media screen and (min-width: 899px) {
    .main3-box {
    	float: left;
    	width: 17rem;
    	margin: 0 1rem;
    }
}

/***下方小圆点***/
.waiting {
	width: 100%;
	text-align: center;
}

.wait {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 20px 2px 0 2px; 
	border-radius: 50%;
	background-color: #999;
}

.waited {
	background-color: #29b078;
}
