@charset "utf-8";

/************高效、规范一排************/
.main-box {
	img {
		width: 5.2rem;
		height: 5.4rem;
		padding-top: 1rem;
	}
}



.main-box-content {
	padding: 1rem 10%;
	color: #999;
}

.main-box-i {
	color: #29b078;
}

.main-box-i {
	&:before {
		content: '';
		width: 16px;
		height: 17px;
		margin-right: .5rem;
		display: inline-block;
		vertical-align: middle;
		background: url(../../../images/task15/index/usernum.png) no-repeat 50% 50%/100% 100%;
	}
}

/*150%一下，页面较大时直接一排*/
@media screen and (min-width: 899px) {
	.main-box1 {
		display: flex;
		justify-content: space-between;		
	}

	.main-box {
		width: 25%;
		box-sizing: border-box;
		text-align: center;
	}

	.main-box-content {
		text-align: left;
	}

	.number {
		padding: {
			top: 2rem;
			left: 3rem;
		}
		border-left: 1px dashed #bbb;
	}

	.main-box-i {
		text-align: left;
	}
}

/*150%以上，页面较小时换行*/
@media screen and (max-width: 899px) {
	.main-box {
		width: 100%;
		box-sizing: border-box;
		text-align: center;
	}

	.main-box-content {
		padding: 1rem 10% 6rem 10%;
	}
}