/************如何学习一栏************/
/***一整个小盒子，包括编号、文字、图标***/
.steps {
    display: flex;
    align-items: center;
    height: 6rem;
    float: left;
    margin-top: 4rem;
}
/**左盒子，不包括向右图标***/
.circle-p {
    display: flex;
    align-items: center;
    width: 90%;
}
/***圆，编号***/
.circle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: #29b078;
    line-height: 3.5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(8, 1, 3, .15);
}
/***文字***/
.detail-t {
    width: 80%;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-family: MicrosoftYaHei;
    color: #a1a1a1;
}
/***右图标***/
.icon-arrow {
    width: 1.6rem;
    height: 1.8rem;
}

.icon-arrow img {
    width: 100%;
    height: 100%;
    padding-right: .5rem;
}
/***空白***/
.blank {
    width: 10%;
}


/*150%一下，页面较大时直接一排*/
@media screen and (min-width: 899px) {
    .steps {
        float: left;
        width: 25%;
    }

    .yincang {
        visibility: hidden;
    }
}


