@import "../contact.css";
@import "../nav.css";
@import "./modules/carousel.css";
@import "./modules/introduce.css";
@import "./modules/study.css";
@import "./modules/display.css";
@import "./modules/enterprise.css";
@import "./modules/link.css";
@import "../footer.css";


html {
	font-size: 62.5%;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #fafafa;
}

/********************************header********************************/
header {
	width: 100%;
	background-color: #fff;
}


/********************************main********************************/
main {
	overflow: hidden;
	margin: 5rem 5%;
}
/*多出用到*/
.bold_title {
	margin-top: 10px; 
	font-size: 2rem;
	font-weight: bold;
}

.title_box {
	margin: 30px 0;
}
















