html {
	font-size: 62.5%;
	font-family: "宋体", sans-serif;
}
body {
	margin: 0px;
}
/** {
	margin: 0px;
	padding: 0px;
}*/

/**************************************header*****************************************/
header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 10rem;
	text-align: center;
	background-color: #5fc0cd;

}

.button_left {
    
    width: 20%;
    height: 8rem;    
    border-radius: 15px 0px 0px 15px;
	margin-top: 1rem;
    font-size: 5rem;
	border: none;
	background: #55a8b3;/*左按钮背景色*/
	color: #ffffff;


}

.button_right {

    width: 20%;
    height: 8rem;
    margin-left: -2rem;
	border-radius: 15px 15px 15px 15px;
	border-color: #5fc0cd;
	margin-top: 1rem;
    font-size: 5rem;

	background: #ffffff;
	color: #5fc0cd;/*右按钮文字颜色，与header背景色一样*/
}

.button_gps {
	position: absolute;
	width: 6rem;
	height: 6rem;
	float: right;
	right: 3rem;
	top: 2rem;
	background: url(../images/task6/gpsa.png) no-repeat 0 0/5.5rem 6rem;
	border: none;
}
/**************************************main*****************************************/
nav {
	z-index: 9999;
	position: absolute;
	font-size: 4rem;
	color: #99999f;
	top:10rem;
	width: 100%;
	background-color: #ffffff;
	height: 8rem;
}


.banner {
	float: left;
	text-align: center;
	width: 33.33%;
	line-height: 8rem;
	overflow: hidden;
	border-bottom: 1px solid #999999;
}

.ver_line {
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	box-sizing: border-box;/*中间div左右的border设置了宽度，最右边的div会因为空间不够移动到下一排（浮动），这一句代码能解决border宽度带来的div换行的麻烦*/
}

.arrow {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 3rem;
	margin-left: 1rem;
	border-top: 2rem solid #999;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
}

/*.arrow:hover {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 3rem;
	margin-left: 1rem;
	border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 2rem solid #999;
}*/

a {
	text-decoration: none;/*去超链接下划线*/
}

div ul {
    list-style: none;
    overflow: hidden;               
    max-height: 0px;
    transition: max-height 0.3s;
}

.banner:hover {
    background-color: #f0f0f0;
}

.banner:hover ul {
    display: block;
    background-color: #f0f0f0;
    text-align: center;
    max-height: 24rem;
}

.bottom_line {
	margin: 0px;
	padding: 0px;
}

.bottom_line li {
	list-style: none;
	border-top: 1px solid #999999;
}





.first_box {
	position: absolute;/*第一个定位*/
	top: 18rem;
}

.info_box {
	width: 100%;
	height: 18rem;
	border-bottom: 1px solid #999999;
	/*box-sizing: border-box;*/
	font-size: 3.5rem;
}

.time {
	font-size: 4rem;
}
.red_text {
	height: 100%;
	font-size: 4rem;
	float: right;
	color: red;
	margin-right: 5%;
/*	background: url(../images/task6/toright.png) no-repeat 0 0/5% 100%;
	background-position: right;*/
}

.box {
	position: relative;
	top: 4rem;

	margin-left: 10%;
	width: 90%;
	height: 25%;
	line-height: 20%;
	/*border: 1px solid green;*/
	/*box-sizing: border-box;*/
}
.info_img {
	float: left;
	height: 100%;
	width: 10%;
	/*border: 1px solid green;*/
	/*box-sizing: border-box;*/
}

/*.info_img1 {
	height: 2rem;
	width: 2rem;
	background: url(../images/task6/time.png) no-repeat;
}

.info_img2 {
	background: url(../images/task6/gpsb.png) no-repeat;
}*/

/**************************************footer*****************************************/
footer {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 10rem;
	text-align: center;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #f0f0f0;
}
.home {
	font-size: 3rem;
	color: #5fc0cd;
	margin: 0;
	width: 20%;
	height: 100%;
	border: none;
	background: url(../images/task6/home.png) no-repeat scroll 50% 5%/6rem 6rem;
}

.add {
	width: 20%;
	height: 100%;
	border: none;
	background: url(../images/task6/add.png) no-repeat scroll 50% 50%/9rem 9rem;
}

.user {
	font-size: 3rem;
	color: #999999;
	width: 20%;
	height: 100%;
	border: none;
	background: url(../images/task6/user.png) no-repeat scroll 50% 5%/6rem 6rem;
}

.footer_text {
	position: absolute;
	bottom: 0.5rem;
	width: 20%;
}

