html {
	font-size: 62.5%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}

/********************************header********************************/
header {
	width: 100%;
	background-color: #fff;
}

.header_top {
	height: 40px;
}

.header_top span {
	height: 40px;
	line-height: 40px;
	display: inline-block;
	margin: 0 0 0 5%;
	color: #29b078;
	font-size: 1.5rem;
}
.all_contact {
	float: right;
	height: 100%;
	width: 30%;
	margin-right: 5%;
}

.contact {
	float: right;
	width: 20%;
	height: 100%;
	display: inline-block;
}

.weixin {
	background: url(../images/task8/weixin.png) no-repeat 50% 50%/35px 35px;
}

.QQ {
	background: url(../images/task8/QQ.png) no-repeat 50% 50%/35px 35px;
}

.weibo {
	background: url(../images/task8/weibo.png) no-repeat 50% 50%/35px 35px;
}
/*******************/
.header_down {
	width: 100%;
	height: 80px;
	background-color: #29b078;
}
.jinengshu {
	position: relative;
	top: 10px;
	left: 5%;
	width: 120px;
	height: 60px;
	display: inline-block;
	background: url(../images/task8/jinengshu.png) no-repeat 50% 50%/120px 60px;

}

.menu {
	height: 80px;
	width: 30%;
	display:flex;
	flex-direction:row;
	float: right;
	margin-right: 10%;
}
.menu a {
	display: inline-block;
	line-height: 80px;
	text-align: center;
	border: none;
	flex: 1;
	color: #fff;
	text-decoration: none;
}

.menu a:hover {
	border-bottom: 4px solid #fff;
	box-sizing: border-box;
	text-decoration: none;
}

/********************************main********************************/
main {
/*	position: absolute;
	top: 16vw;*/
	background: #fafafa;
	width: 100%;
	overflow: hidden;
}

.item img{
	width:100%;
}
#carousel-example-generic{
	width:100%;
	margin:0 auto;
}

.toleft {
	position: absolute;
	top: 30%;
	left: 70%;
	width: 20%;
	height: 30%;
	display: inline-block;
	background: url(../images/task8/index/toleft.png) no-repeat 50% 50%/6vw 7vw;
}
.toright {
	position: absolute;
	top: 30%;
	right: 70%;
	width: 20%;
	height: 30%;
	display: inline-block;
	background: url(../images/task8/index/toright.png) no-repeat 50% 50%/6vw 7vw;
}

.carousel-caption {
	width: 70%;
	overflow: hidden;
}
.text1 {
	width: 70%;
	float: right;
	font-size: 2vw;
	font-weight: bold;
	display: inline-block;
	margin: 0;
	white-space: nowrap;
}

.text2 {
	width: 80%;
	float: left;
	margin-left: 5%; 
	font-size: 2.5vw;
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
}
.text2 span {
	font-size: 4.5vw;
	font-weight: bold;
}


/***************main_mid***************/
.main_box {
	width: 80%;
	margin: 7% 10% 0 10%;
}

.row div {
	text-align: center;
} 

.col-md-3 img{
	width: 6vw;
	height: 6.5vw;
}
.usernum {
	background: url(../images/task8/index/usernum.png) no-repeat 0 50%/30% 100%;
	color: #29b078;
	display: inline-block;
	line-height: 100%;
}

.line_left {
	border-left: 1px dashed #999;
	box-sizing: border-box;
	padding: 30px 0;
}

.col-md-3 p {
	font-size: 1rem;
	color: #999;
}

.col-md-3 p {
	margin: 1rem 0;
}


.bold_title {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 10px; 
}

.title_box {
	margin: 30px 0;
}

.learn-method {
	margin-bottom: 5rem;
}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.circle-p {
	width: 90%;
	display: flex;
	align-items: center;
}

.circle {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(8, 1, 3, .15);
    color: #29b078;
    text-align: center;
}

.detail-2 {
	width: 80%;
    color: #a1a1a1;
    font-size: 1rem;
    padding: 0 15px;
}

.icon-arrow {
	width: 10%;
	height: 4rem;
}

.icon-arrow img {
	width: 100%;
	height: 100%;
}

.blank {
	width: 10%;
}


.back_box {	
	padding-left: 2px;
	padding-right: 2px;
}

.content {
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(8, 1, 3, .15);
}

.content img {
	width: 30%;
	height: 30%;
	margin: 20px 35%;
}

.content p {
	padding: 10%;
	color: #999;
}

.content span {
	display: inline-block;
	margin: 5%;
	font-size: 1.5rem;
	font-weight: bold;
}

.wait {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #999;
	display: inline-block;
	margin: 20px 2px 0 2px; 
}

.waiting {
	background-color: #29b078;
}


.small {
	width: 80%;
	margin: 0 10%;
}
.average {
	width: 100%;
	display:flex;
	flex-direction:row;
}


.enterprise {
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(8, 1, 3, .15);
	flex: 1;
}

.enterprise img {
	width: 100%;
	height: 100%;
	padding: 10px 0;
}


.links {
    width: 100%;
    margin-top: 70px;
    background-color: #fff;
}

.links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.row-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.webs {
    width: 80px;
}

.webs {
    color: #999;
}
.webs a {
    color: #999;
    text-decoration: none;
}
.web-links li {
    border-bottom: #fff solid 1px;
}
.web-links li:hover {
    border-bottom: #29b078 solid 1px;
}
.webs {
    padding: 5px 0;
}



footer {
    width: 100%;
    background-color: #29b078;
}
.footer-details {
    padding: 30px 30px;
    color: #fff;
}
.footer-title {
    font-size: 16px;
    color: #fff;
}
.title-left {
    margin-bottom: 60px;
}
.title-center {
    margin-bottom: 30px;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 10px 10px 10px 0;
    font-size: 14px;
}
footer a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
.our-webs {
    margin-top: 10px;
}
.copyright {
    width: 100%;
    background-color: #29b078;
    border-top: 1px solid #32c086;
}
.copyright-details {
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 5px 0;
}