/************战略合作企业一栏************/
/***包含五张图片***/
.main_box_enterprise{
    text-align: center;
    
}
/***每一张图片***/
.enterprise {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #fff;
}
.enterprise:hover {
	box-shadow: 0 1px 3px 0 rgba(8, 1, 3, .15);
}
.enterprise-img {
	margin: 1rem;
}
