@charset "utf-8";
html {
	font-size: 62.5%;
}
* {
    margin: 0;
    padding:0;    
}

/*********************************定义变量***************************************/
$blue-color: #5fc0cd;
$white-color: white;
$lightgrey-color: #e1e5e7;
$norm-height: 1rem;
$norm-fontsize: 1rem;



/**********************************header****************************************/
header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: $norm-height * 4;
	color: $white-color;
	background-color: $blue-color;
}

header {
	a {
		position: relative;
		left: $norm-height * 0.5;
		z-index: 200;
		display: inline-block;
		width: $norm-height * 2;
		height: $norm-height * 4;
		background: url(../../images/task12/task12-5/back.png) no-repeat 50% 50%/100% 100%;
	}
}

.header_title {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: inline-block;
	width: 100%;
	height: $norm-height * 4;
	font-size: $norm-fontsize * 2;
	line-height: $norm-height * 4;
	text-align: center;
}

/***********************************main*************************************/
main {
	position: absolute;
	width: 100%;
	margin: {
		top: $norm-height * 4;
		bottom: 140px;
	}
}
/***背景***/
.main_banner {
	display: flex;
    justify-content: flex-start;
    align-items: center;
	width: 100%;
	height: $norm-height * 15;
	background: url(../../images/task12/task12-5/banner.png) no-repeat 50% 50%/100% 100%;

}
/***用户头像***/
.main_banner_user {
	img {
	    width: $norm-height * 6;
	    height: $norm-height * 6;
	    margin-left: $norm-height;
	}
}

/***包含姓名、年龄、地址的盒子***/
.info{
    margin-left: $norm-height * 2;
}
/***姓名、年龄***/
.info-about {
    margin-bottom: $norm-height * 0.5;
    font-size: $norm-fontsize;
    color: $white-color;
}
.info-about {
	span {
	    font-size: $norm-fontsize * 1.5;
	    color: $white-color;
	}
}
/***地址***/
.address {
    height: $norm-height * 2.3;
    padding-left: $norm-height * 2;
    color: $white-color;
    line-height: $norm-height * 2.3;
    background: url(../../images/task12/task12-5/gps.png) no-repeat 0 50%/1rem 1.3rem;
}


/****下方介绍内容****/
.main_content {
	width: 100%;
}
/***专业技能***/
.main_content {
	p {
		padding-left: $norm-height;
		margin: $norm-height;
		font: {
			size: $norm-fontsize * 1.5;
			weight: bold;
		}
		border-left: 2px solid $blue-color;
	}
}



@mixin box-style {
	margin: 0 $norm-height * 0.5;
	border-bottom: 1px solid $lightgrey-color;
	font-size: $norm-fontsize * 1.5;
}

/***住家、不含餐***/
.box-1 {
	height: $norm-height * 4;
	padding-left: $norm-height * 2;
	line-height: $norm-height * 4;
	border-top: 1px solid $lightgrey-color;

	@include box-style;
}
.box-1 {
	img {
	    vertical-align: middle;
		height: $norm-height * 1.5;
	}
}

/***从业年限、工作时间、服务价格都是box-2***/
.box-2 {
	height: $norm-height * 4;
	line-height: $norm-height * 4;

	@include box-style;
}
/***左边文字样式***/
.left_text {
	padding: 0 $norm-height;
	margin-right: $norm-height;/*右边文字与竖线距离*/
	font-size: $norm-fontsize * 1.5;
	color: #999;
	border-right: 1px solid $lightgrey-color;
	flex-shrink: 0;/*让“自我介绍”不换行，呈现一排效果而不是一竖，具体上网查*/
}
.text_red {
	color: red;
}

.box-3 {
	display: flex;
	align-items: center; 

	@include box-style;   
}
/***自我介绍右边那一长串文字***/
.synopsis {
	width: auto;
	padding: $norm-height $norm-height $norm-height 0;
	word-break: normal;/*在恰当的断字点进行换行*/
}

/***********************************footer*************************************/
footer {
	position: fixed;
	bottom: 0px;
	z-index: 100;
	display: flex;
	justify-content: space-around;/*两个按钮水平均分对齐*/
	width: 100%;
	background: $white-color;
}

@mixin color-style {
	color: $blue-color;
	background: $white-color;
}
/***留言***/
.message {
	width: 45%;
	height: $norm-height * 3;
	margin: 3% 0;
	font-size: $norm-fontsize * 1.5;
	border: 2px solid $blue-color;
	border-radius: 5px;

	@include color-style;
}
/***联系电话***/
.phone {
	width: 45%;
	height: $norm-height * 3;
	margin: 3% 0;
	font-size: $norm-fontsize * 1.5;
	border: 2px solid $blue-color;
	border-radius: 5px;

	@include color-style;
}
