@charset "UTF-8";
html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

/*********************************定义变量***************************************/
/**********************************header****************************************/
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 4rem;
  color: white;
  background-color: #5fc0cd; }

header a {
  position: relative;
  left: 0.5rem;
  z-index: 200;
  display: inline-block;
  width: 2rem;
  height: 4rem;
  background: url(../../images/task12/task12-5/back.png) no-repeat 50% 50%/100% 100%; }

.header_title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: inline-block;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center; }

/***********************************main*************************************/
main {
  position: absolute;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 140px; }

/***背景***/
.main_banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 15rem;
  background: url(../../images/task12/task12-5/banner.png) no-repeat 50% 50%/100% 100%; }

/***用户头像***/
.main_banner_user img {
  width: 6rem;
  height: 6rem;
  margin-left: 1rem; }

/***包含姓名、年龄、地址的盒子***/
.info {
  margin-left: 2rem; }

/***姓名、年龄***/
.info-about {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: white; }

.info-about span {
  font-size: 1.5rem;
  color: white; }

/***地址***/
.address {
  height: 2.3rem;
  padding-left: 2rem;
  color: white;
  line-height: 2.3rem;
  background: url(../../images/task12/task12-5/gps.png) no-repeat 0 50%/1rem 1.3rem; }

/****下方介绍内容****/
.main_content {
  width: 100%; }

/***专业技能***/
.main_content p {
  padding-left: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-left: 2px solid #5fc0cd; }

/***住家、不含餐***/
.box-1 {
  height: 4rem;
  padding-left: 2rem;
  line-height: 4rem;
  border-top: 1px solid #e1e5e7;
  margin: 0 0.5rem;
  border-bottom: 1px solid #e1e5e7;
  font-size: 1.5rem; }

.box-1 img {
  vertical-align: middle;
  height: 1.5rem; }

/***从业年限、工作时间、服务价格都是box-2***/
.box-2 {
  height: 4rem;
  line-height: 4rem;
  margin: 0 0.5rem;
  border-bottom: 1px solid #e1e5e7;
  font-size: 1.5rem; }

/***左边文字样式***/
.left_text {
  padding: 0 1rem;
  margin-right: 1rem;
  /*右边文字与竖线距离*/
  font-size: 1.5rem;
  color: #999;
  border-right: 1px solid #e1e5e7;
  flex-shrink: 0;
  /*让“自我介绍”不换行，呈现一排效果而不是一竖，具体上网查*/ }

.text_red {
  color: red; }

.box-3 {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  border-bottom: 1px solid #e1e5e7;
  font-size: 1.5rem; }

/***自我介绍右边那一长串文字***/
.synopsis {
  width: auto;
  padding: 1rem 1rem 1rem 0;
  word-break: normal;
  /*在恰当的断字点进行换行*/ }

/***********************************footer*************************************/
footer {
  position: fixed;
  bottom: 0px;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  /*两个按钮水平均分对齐*/
  width: 100%;
  background: white; }

/***留言***/
.message {
  width: 45%;
  height: 3rem;
  margin: 3% 0;
  font-size: 1.5rem;
  border: 2px solid #5fc0cd;
  border-radius: 5px;
  color: #5fc0cd;
  background: white; }

/***联系电话***/
.phone {
  width: 45%;
  height: 3rem;
  margin: 3% 0;
  font-size: 1.5rem;
  border: 2px solid #5fc0cd;
  border-radius: 5px;
  color: #5fc0cd;
  background: white; }

/*# sourceMappingURL=_task12-5Sass.css.map */
